// fonts

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro|Raleway&display=swap');

$font-sans-serif: Raleway;
$font-serif: Source Serif Pro;

$huge: 48px;
$large: 36px;
$semi-large: 28px;
$bigger: 24px;
$big: 18px;
$regular: 16px;

// colors

$bg-very-light: #f0f4f2;
$bg-light: #d3ded8;
$bg-middle: #8aa797;
$bg-dark: #4c6557;
$bg-very-dark: #36483e;

$text-dark: #273319;
$text-very-dark: #1b2311;
$text-light: #f4f4f3;
